.carousel {
    margin: auto;
}

.active {
    display: block;
}

img {
    display: none;
    width: calc(100% - 100px);
    margin: auto;
}

.footer {
    background-color: navy;
    color: white;
}

.footer-items {
    display: inline-block;
    margin: 10px;
}

@media only screen and (max-width: 799px) {

   .footer-items {
       display: block;
   }

}
